# Empty CSS file for your own CSS

body {
  display: flex;
  align-items: center;

  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.width-10 {
    width: 10% !important;
}

.form-auth {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}