<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Test task - home</title>

    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">

</head>

<body>
    <p>
{#        {% if request.cookies.get('username') %}#}
{#            <div class="alert alert-info alert-dismissible" role="alert">#}
{#                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>#}
{#                <strong>Info.</strong> Page have cookie and your logged.#}
{#            </div>#}
{#        {% else %}#}
{#            <div class="alert alert-warning alert-dismissible" role="alert">#}
{#                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>#}
{#                <strong>Info.</strong> Page haven't cookie and your not logged.#}
{#            </div>#}
{#        {% endif %}#}

        <form class="form-auth" action="/auth">
            <button type="sumbit" class="btn btn-md btn-block btn-info">Авторизоваться</button>
        </form>
    </p>

<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>